@import './typography.css';

:root {
  --border-radius: 4px;

  --color-black: hsl(0, 0%, 0%);
  --color-green-1: hsl(133 100% 28%);
  --color-green-2: hsl(133 100% 20%);
  --color-grey-1: hsl(0, 0%, 95%);
  --color-grey-2: hsl(0, 0%, 85%);
  --color-white: hsl(256, 100%, 100%);
}

* {
  box-sizing: border-box;
}

body {
  background: var(--color-grey-1);
}
